<launch>
  <group ns="ema">
    <!-- load config files-->
    <rosparam command="load" file="$(find ema_stim_matrix)/config/matrix.yaml" ns="matrix" />
    <rosparam command="load" file="$(find hasomed_rehastim_stimulator)/config/stim_matrix.yaml" ns="stimulator" />
    <rosparam command="load" file="$(find miguelabs_forcesensor)/config/forcesensor.yaml" ns="forcesensor" />


    <!-- launch nodes -->
    <node name="forcesensor" pkg="miguelabs_forcesensor" type="forcesensor_node.py" output="screen" respawn="true" respawn_delay="5"/>
    <node name="stimulator" pkg="hasomed_rehastim_stimulator" type="stimulator_node.py" output="screen" respawn="true" respawn_delay="5"/>
    <node name="matrix" pkg="ema_stim_matrix" type="matrix_node.py" output="screen" respawn="true" respawn_delay="5"/>
    <node name="server" pkg="ema_stim_matrix" type="server_node.py" output="screen" respawn="true" respawn_delay="5"/>
  </group>
</launch>
